@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root{
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  @font-face {
    font-family: 'Satoshi Black';
    src: url('/fonts/Satoshi-Black.woff2') format('woff2');
    font-display: swap;
  }  

  @font-face {
    font-family: 'Satoshi Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
    font-display: swap;
  }  

  @font-face {
    font-family: 'Satoshi Regular';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
    font-display: swap;
  }  

  @font-face {
    font-family: 'Satoshi Bold';
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
    font-display: swap;
  }  

  @font-face {
    font-family: 'Satoshi Variable';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
    font-display: swap;
  }  
  
  .section-container{
    @apply px-[4rem] py-[6rem];
  }
  @media screen and (max-width: 600px) {
    .section-container {
      @apply px-[2rem] py-[3rem]; /* Adjust the padding values for mobile screens */
    }
  }
  
  .arrow-animation{
    @apply transition-transform group-hover:translate-x-4 duration-500
  }

  .footer-header{
    @apply text-20 text-white font-bold
  }

  .footer-link{
    @apply text-lightGray text-16 hover:text-white transition duration-150
  }

  .custom-carousel-img{
    @apply w-full h-[20vh] md:h-[40vh] rounded-xl object-cover aspect-[2/1]
  }

  /* handle font size with 48px (text-5xl) */
  .text-48{
    @apply text-2xl
  }
  @media screen and (min-width: 600px) {
    .text-48 {
      @apply text-3xl
        }
  }
  @media screen and (min-width: 768px) {
    .text-48 {
      @apply text-5xl
        }
  }
  @media screen and (min-width: 1024px) {
    .text-48 {
      @apply text-5xl
        }
  }

  /* handle font size with 36px (text-4xl) */
  .text-36{
    @apply text-lg
  }
  @media screen and (min-width: 600px) {
    .text-36 {
      @apply text-xl
        }
  }
  @media screen and (min-width: 768px) {
    .text-36 {
      @apply text-2xl
        }
  }
  @media screen and (min-width: 1024px) {
    .text-36 {
      @apply text-4xl
        }
  }

  /* handle font size with 30px (text-3xl) */
  .text-30{
    @apply text-lg
  }
  @media screen and (min-width: 600px) {
    .text-30 {
      @apply text-lg
        }
  }
  @media screen and (min-width: 768px) {
    .text-30 {
      @apply text-xl
        }
  }
  @media screen and (min-width: 1024px) {
    .text-30 {
      @apply text-3xl
        }
  }

  /* handle font size with 24px (text-2xl) */
  .text-24{
    @apply text-base
  }
  @media screen and (min-width: 600px) {
    .text-24 {
      @apply text-base
        }
  }
  @media screen and (min-width: 768px) {
    .text-24 {
      @apply text-lg
        }
  }
  @media screen and (min-width: 1024px) {
    .text-24 {
      @apply text-2xl
        }
  }

  /* handle font size with 20px (text-xl) */
  .text-20{
    @apply text-xs
  }
  @media screen and (min-width: 600px) {
    .text-20 {
      @apply text-sm
        }
  }
  @media screen and (min-width: 768px) {
    .text-20 {
      @apply text-base
        }
  }
  @media screen and (min-width: 1024px) {
    .text-20 {
      @apply text-xl
        }
  }

  /* handle font size with 16px (text-base) */
  .text-16{
    @apply text-xs
  }
  @media screen and (min-width: 600px) {
    .text-16 {
      @apply text-xs
    }
  }
  @media screen and (min-width: 768px) {
    .text-16 {
      @apply text-base
    }
  }
  @media screen and (min-width: 1024px) {
    .text-16 {
      @apply text-base
    }
  }
  
  
  /* handle font size with 14px (text-sm) */
  .text-14{
    @apply text-xs
  }
  @media screen and (min-width: 600px) {
    .text-14 {
      @apply text-xs
        }
  }
  @media screen and (min-width: 768px) {
    .text-14 {
      @apply text-sm
        }
  }
  @media screen and (min-width: 1024px) {
    .text-14 {
      @apply text-sm
        }
  }
  
  /* handle font size with 12px (text-xs) */
  .text-12{
    @apply text-xs
  }
  @media screen and (min-width: 600px) {
    .text-12 {
      @apply text-sm
        }
  }
  @media screen and (min-width: 768px) {
    .text-12 {
      @apply text-xs
        }
  }
  @media screen and (min-width: 1024px) {
    .text-12 {
      @apply text-xs
        }
  }




  /* define headings */
  h1 {
    @apply font-black text-48
  }
  h2 {
    @apply font-black text-36
  }
  h3 {
    @apply font-black text-30
  }
  h4 {
    @apply font-black text-24
  }
  h5 {
    @apply font-black text-20
  }
  
  .bn-inline-content{
    @apply pb-4
  }
  strong{
    @apply font-bold
  }
  em{
    @apply italic
  }
}